* {
    /* border-width: 1px;
    border-color: blue; */
    font-size: 14px;
    font: "Bergen Mono Regular";
    outer-shadow: 0 0 0 transparent;
}

button {
    background-color: transparent;
    outer-shadow: 0 0 0 transparent;
}

button:hover {
    background-color: transparent;
    outer-shadow: 0 0 0transparent;
}

svg {
    background-color: transparent;
}

scrollbar>.thumb {
    width: 12px;
    border-radius: 0px;
    background-color: #3f3f3f;
}

scrollview>scrollbar.vertical {
    width: 12px;
    child-left: 0px;
    child-right: 0px;
    border-radius: 0px;
    background-color: transparent;
}


.wrapper {
    col-between: 1px;
    row-between: 1px;
    border-width: 1px;
}

/* Sidebar */

.sidebar {
    row-between: 1px;
}

.sidebar .svg-wrapper svg {
    left: 4px;
    right: 4px;
    top: 4px;
    bottom: 4px;

}

.sidebar-fill {
    height: 1s;
    width: 1s;
    bottom: 1px;
}

.sidebar .svg-wrapper svg {
    color: rgb(136, 136, 136);
}

.sidebar .svg-wrapper:hover svg {
    color: #888888;
}

.sidebar .svg-wrapper:hover svg.active {
    color: #fff;
}

/* File Header */

.files-header {
    col-between: 1px;
    height: 22px;
}

.files-header-fill {
    width: 1s;
    height: 22px;
    bottom: 1px;
}

.file-header .content {
    col-between: 0px;
}

.file-header .content .svg-wrapper {
    child-top: 0px;
    child-left: 0px;
    child-right: 0px;
    bottom: 0px;
    top: 2px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    height: auto;
    border-width: 0px;
}

.file-header .content .svg-wrapper:hover {
    background-color: #3f3f3f;
}

.file-header .content .svg-wrapper .svg {
    color: #5b5b5b;
}

.file-header .content .svg-wrapper:hover .svg {
    color: #fff;
}

.file-header {
    width: auto;
    border-width: 0px;
    border-radius: 0px;
    border-color: transparent;
    child-right: 0px;
    child-left: 0px;
    child-top: 0px;
    child-bottom: 0px;
    row-between: 1s;
    col-between: 0px;
    height: 1s;
}

.file-header .colored-strip {
    height: 1px;
    width: 1s;
}

.file-header .content .label {
    left: 8px;
    right: 8px;
    height: 1s;
}

/* File */

.file {
    top: 16px;
    left: 16px;
    bottom: 16px;
    width: 1s;
    height: 1s;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.file-data {
    top: 4px;
    left: 8px;
    color: #fff;
    height: auto;
}

/* Window Menu */

window-menu {
    height: 16px;
}

window-dropdown-item {
    border-radius: 0px;
    border-width: 0px;
    border-radius: 4px;
    background-color: transparent;
    width: 1s;
    child-left: 16px;
    height: auto;
}

window-dropdown-item:hover {
    background-color: #3f3f3f;
    ;
}

window-dropdown-item label {
    color: #888;
}

window-dropdown-item:hover label {
    color: #fff;
}

/* Window Dropdown */

window-dropdown {
    width: auto;

}

popup {
    border-radius: 4px;
    width: 150px;
    child-left: 8px;
    child-right: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    child-top: 8px;
    child-bottom: 8px;
    border-width: 1px;
}

window-dropdown .label-wrapper {
    child-left: 8px;
    child-right: 8px;
}